<style>
    section {
        font-size: .8em !important;
        text-align: left !important;
    }
    h1, h2, h3 {
        margin-bottom: 15px !important;   
    }
    iframe {
        display: block;
    }
    pre {
        box-shadow: 0 0 0 !important;
    }
    table, tr, td {
        height: auto;
    }
</style>
<section>
        <h2>Content</h2>
        <ul>
            <li>What is jQuery?</li>
            <li>Why jQuery?</li>    
            <li>What is $?</li>
            <li>Selectors</li>
            <li>DOM</li>
            <li>Events</li>
            <li>Ajax</li>
            <li>Effects</li>
            <li>Deferred</li>
        </ul>
    </div>
</section>

<section>
    <h2>What is jQuery</h2>
    <p>
        jQuery is cross-browser JavaScript library, created to make the client-side application development process easier.
        jQuery provides powerful set of instruments which build an abstraction over the standard browser API and allows us to write
        the same code no matter of the browser. One more plus which jQuery gives us is the internal JavaScript DSL which allows us
        to create JavaScript applications with less code and better code semantics.
    </p>
</section>

<section>
    <h2>Why jQuery?</h2>
    <ul>
        <li>Small (32KB, to 10KB with custom build)</li>
        <li>Cross-browser</li>
        <li>Easy DOM manipulation</li>
        <li>Compact code</li>
        <li>Large community</li>
        <li>Easy to use</li>
        <li>Excellent documentation</li>
    </ul>
</section>

<section>
    <h2>What is $? (1)</h2>
    <pre>
        <code>
$ == jQuery //true
$ === jQuery //true
$ instanceof Object //true
$ instanceof Function //true
typeof $ === 'function' //true
        </code>
    </pre>
</section>

<section>
    <h2>What is $? (2)</h2>
    <p>
        jQuery provides to its users 2 global variables - $ and jQuery. They reffer to the same object.
        $ has "static methods" ($.param, $.map, $.filter, $.ajax, etc.), but can be also used as function.
    </p>
</section>

<section>
    <h2>Utilities</h2>
    <p>
        In older browsers (which does not support ECMAScript 5) there's a lack of methods like <code>filter</code>, <code>map</code>, <code>forEach</code>.
        jQuery provides us these typical to the functional programming methods as "static methods" of $.
        <ul>
            <li><code>$.map</code> - apply given function to each element of given array (or object) and return new array (or object) with the result from the function's application to each argument.</li>
            <li><code>$.filter</code> - filter given array based on condition in the passed callback.</li>
            <li><code>$.each</code> - apply given function to each element from a collection.</li>
            <li><code>$.inArray</code> -  checks whether the passed argument is in the given array.</li>
            <li><code>$.isArray</code> - checks whether the passed argument is an array.</li>
            <li><code>$.extend</code> - makes shallow or deep copy of given array.</li>
            <li><code>$.trim</code> - removes the whitespace from the beginning and the end of given array.</li>
            <li><a href="http://api.jquery.com/category/utilities/">More...</a></li>
        </ul>
        * These are high order functions, typical for the functional programming.
    </p>
</section>

<section>
    <h2>Selectors (1)</h2>
    <p>
        With jQuery you can walk the DOM tree and select elements with specific properties.
        For this goal jQuery internally uses the CSS selector engine called Sizzle. After the elements are being selected jQuery creates decorator, using it
        frequently used DOM manipulations could be invoked easier.
    </p>
</section>

<section>
    <h2>Selectors (2)</h2>
    <div>
        <ul>
            <li><code>$(DOM_ELEMENT)</code> - create jQuery wrapper of the given DOM element.</li>
            <li><code>$('tagname')</code> - select all DOM elements with given tag name.</li>
            <li><code>$('#id')</code> - select DOM elements by given identifier (the value of the id attribute).</li>
            <li><code>$('.className')</code> - select DOM elements by class name.</li>
            <li><code>$('[attribute="value"]')</code> - select DOM elements by value of an attribute.</li>
            <li><code>$('parent &gt; child')</code> - select all ancestors of given parent.</li>
        </ul>
    </div>
</section>

<section>
    <h2>Selectors (3)</h2>
    <div>
        <ul>
            <li><code>$(':contains("text")')</code> - selects all DOM elements which contains given sub-string.</li>
            <li><code>$(':button')</code> - selects all buttons.</li>
            <li><code>$(':image')</code> - selects all images.</li>
            <li>...</li>
        </ul>
    </div>
    <p>
        All mentioned selectors could be combined together. In case the result set of selected elements contains more than a single element an array of these elements is returned. The array is not a plain JavaScript array but one wrapped by jQuery.
        Each element in the array is not DOM element decorated by jQuery but plain DOM element instead.
    </p>
</section>

<section>
    <h2>Selectors (4)</h2>
    Few examples of using $ with DOM element.
    <pre>
        <code>
$(document.getElementById('input')).remove();
$(document.querySelector('#inpit')).empty();
        </code>
    </pre>
    *  In the examples we explicity call <code>document.getElementById</code> and <code>document.jquerySelector</code> is unnecessary Sizzle will automatically call <code>document.getElementById</code> internally, when <code>$('#input')</code> is being called.
    The usage of $ with argument a DOM element is useful when we have a reference to given DOM element and we want to apply DOM manipulation(s) to it, through jQuery.
</section>

<section>
    <h2>Selectors (5)</h2>
    <p>
        In case we have an array of elements using chaining we can apply high order functions to all elements:
        <pre><code>
$('div').filter(function (idx, el) {
  return !!(idx % 2);
}).each(function (idx, el) {
  $(el).css('background-color', 'red');
});
        </code></pre>
        <code>each</code> and <code>fiter</code> are the high-order functions.
        The code in that example will make the color of each second <code>div</code> element red.
    </p>
</section>

<section>
    <h2>Selectors (6)</h2>
    <p>
        HTML pseudo elements can not be selected.
        Only their content could be changed using a slight tricky approach:
        <pre><code>
&lt;style&gt;
div:after {
    content: attr(data-content);
}
&lt;/style&gt;
&lt;script&gt;
elem.addEventListener('mousedown', function (e) {
  this.setAttribute('data-content', 'Text');
}, false)
elem.addEventListener('mouseup', function (e) {
  this.setAttribute('data-content', '');
}, false);
&lt;/script&gt;
        </code></pre>
    </p>
</section>

<section>
    <h2>Manipulation of DOM (1)</h2>
    <h3>Creation of DOM elements</h3>
    Using the function $ new DOM elements could be created. Similary to the selection of elements, for the creation of new elements $ accept string as argument but in this case the string must be valid HTML:
    <pre><code>
$('&lt;div&gt;Hello world!&lt;/div&gt;');
    </code></pre>
    The code above will invoke: <code>document.createElement('div').innerHTML = 'Hello world';</code>
</section>

<section>
    <h2>Manipulation of DOM (2)</h2>
    In difference with <code>document.createElement</code>, $ can be invoked with complex HTML structure:
    <pre><code>
$('&lt;div&gt;&lt;ul&gt;&lt;li&gt;&lt;span class="something"&gt;Foo&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;div&gt;Bar&lt;/div&gt;&lt;/li&gt;&lt;li&gt;Baz&lt;/li&gt;&lt;/ul&gt;&lt;/div&gt;')
    </code></pre>
    In this case there are generated multiple <code>document.createElement</code> calls for each DOM element.
</section>

<section>
    <h2>Манипулации на DOM (3)</h2>
    <h3>Insertion of element</h3>
    <ul>
        <li><code>$(child).appendTo(parent);</code> - Adds a child element as last one in given parent element</li>
        <li><code>$(parent).append(child);</code> - Adds a child element as last one in given parent element</li>
        <li><code>$(parent).prepend(child);</code> - Adds a child element as first one in given parent element</li>
        <li><code>$(child1).insertAfter(child2);</code> - Adds child1 before child2</li></li>
        <li><code>$(child1).insertBefore(child2);</code> - Adds child1 after child2</li>
    </ul>
</section>

<section>
    <h2>Manipulation of DOM (4)</h2>
        <ul>            
            <li><code>$(child2).after(child1);</code> - Inserts child2 after child1</li>
            <li><code>$(child2).before(child1);</code> - Inserts child2 before child1</li>
            <li><code>$(child).wrap(parent)</code> - Wrap the structure of all selected elements with given element</li>
            <li><code>$(selector).wrapInner(wrapper)</code> - Wrap the content of each element in the list selected elements.</li>
            <li><code>$(selector).wrapAll(wrapper)</code> - Wrap an HTML structure around all elements in the set of matched elements.</li>
        </ul>
    * In case as argument of $ is used a list of arguments or the selector matches multiple elements then the operations are being applied to all elements.
</section>

<section>
    <h2>Manipulation of DOM (5)</h2>
    <h3>wrap vs wrapAll</h3>
    <pre><code>&lt;div class="elem"&gt;&lt;/div&gt;
&lt;div class="elem"&gt;&lt;/div&gt;</code></pre>
    <ul>
        <li>wrap
            <pre><code>&lt;script&gt;
    $('.elem').wrap('&lt;div class="parent"&gt;&lt;/div&gt;');
&lt;/script&gt;
//Result
&lt;div class="parent"&gt;
    &lt;div class="elem"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="parent"&gt;
    &lt;div class="elem"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
        </li>
        <li>
            wrapAll
            <pre><code>&lt;script&gt;
    $('.elem').wrap('&lt;div class="parent"&gt;&lt;/div&gt;');
&lt;/script&gt;
//Result
&lt;div class="parent"&gt;
    &lt;div class="elem"&gt;&lt;/div&gt;
    &lt;div class="elem"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
        </li>
    </ul>
</section>

<section>
    <h2>Manipulation of DOM (6)</h2>
    <h3>Elements removal</h3>
    <ul>
        <li><code>$(child).empty();</code> - Remove all the content of given element.</li>
        <li><code>$(child).remove();</code> - Remove given element and all the data associated with it.</li>
        <li><code>$(child).detach();</code> - Remove given element but keeps the data associated with it.</li>
        <li><code>$(child).unwrap();</code> - Remove the parent element of given child and keep the child element unchanged.</li>
    </ul>
    * In case as argument of $ is used a list of arguments or the selector matches multiple elements then the operations are being applied to all elements.
</section>

<section>
    <h2>Manipulation of DOM (7)</h2>
    When the method <code>document.createElement</code> is being called the created element is still not part of the DOM tree. That means that
    even of a class of that element is mentioned explicitly its styles wont be applied.
    <pre>
        <code>
&lt;style&gt;
    .red {
        background-color: red;
    }
&lt;/style&gt;
&lt;script&gt;
    //...
    var elem = $('&lt;div class="red"&gt;&lt;/div&gt;');
    console.log(elem.css('background-color')); //''
    $(document.body).append(elem);
    console.log(elem.css('background-color')); //'rgb(255, 0, 0)'
&lt;/script&gt;
        </code>
    </pre>
</section>

<section>
    <h2>Manipulation of DOM (8)</h2>
    We can add elements in already created ones even before they are added to the DOM tree.
    <pre>
        <code>
var elem = $('&lt;div&gt;foo&lt;/div&gt;').append('&lt;span&gt;bar&lt;/span&gt;');
$(document.body).append(elem);
        </code>
    </pre>
</section>

<section>
    <h2>Manipulation of DOM (9)</h2>
    Using jQuery results for shorted and cleaner code.
    Here is an example of how we would create element, add it to the document body and after that remove it:
    <pre><code>
var div = document.createElement('div');
document.body.appendChild(div);
div.parentNode.removeChild(div);
    </code></pre>
    jQuery:
    <pre><code>
$('&lt;div/&gt;').appendTo(document.body).remove();
    </code></pre>
</section>

<section>
    <h2>Manipulation of DOM (10)</h2>
    <h3>Replacement of elements</h3>
    <ul>
        <li><code>$(selector).replaceWith(elem)</code> - Replace all selected element with the one given as argument of <code>replaceWith</code></li>
        <li><code>$(elem).replaceAll(selector)</code> - Replace all elements which matched to the argument of <code>replaceAll</code> with <code>elem</code>.</li>
    </ul>
</section>

<section>
    <h2>Manipulation of DOM (11)</h2>
    <ul>
        <li><code>$(selector).html(htmlContent)</code> - Alternative of <code>innerHTML</code>).</li>
        <li><code>$(selector).html()</code> - Return the HTML content of the first matched element.</li>
        <li><code>$(selector).attr(key, value)</code> - Sets value <code>value</code> of the attribute <code>key</code>. In case the selector have matched more than one element the value of the attribute <code>key</code> will be set to all elements.
        <li><code>$(selector).attr(key)</code> - Return the value of the attribute <code>key</code> of the first element in the list of all selected elements.</li>
        <li><code>$(selector).text(textValue)</code> - Set the text value of all elements matched by the selector.</li>
        <li><code>$(selector).text()</code> - Return the text content of the first element in the list of all selected elements.</li>
    </ul>
</section>

<section>
    <h2>Manipulation of DOM (12)</h2>
    <ul>        
        <li><code>$(selector).prop(key, value)</code> - Set value <code>value</code> of the property <code>key</code> of all selected elements.</li>
        <li><code>$(selector).prop(key)</code> - Return the value of the property <code>key</code> of the first element in all selected elements.</li>
        <li><code>$(selector).val(value)</code> - Set value <code>value</code> of all elements in the list of all selected elements.</li>
        <li><code>$(selector).val()</code> - Return the value of the first element in the list of all selected elements.</li>
    </ul>
</section>

<section>
    <h2>Manipulation of DOM (13)</h2>
    <h3>prop vs attr</h3>
    <code>attr</code> is used only for attributes (cols, rols, type, for...), <code>prop</code> is used for properties of the elements (disabled, checked,...).
    <pre><code>
&lt;input type="checkbox" checked="checked" /&gt;
&lt;script&gt;
    console.log($('input').attr('checked'));    //checked
    console.log($('input').prop('checked'));    //true
&lt;/script&gt;
    </code></pre>
</section>

<section>
    <h2>Manipulation of DOM (14)</h2>
    <h3>text vs val</h3>
    <code>val</code> is used for setting/getting value of different user controls (select, text input, textarea).
    <code>text</code> is used for setting/getting the text value of given element, it&#39;s not necessary the element to be a user control. It is a bad practice to use <code>text</code> for setting the value of the elements, for example you can use <code>text</code> for setting the value of <code>&lt;textarea&gt;&lt;/textarea&gt;</code> but it will lead to worse code.
    <pre><code>
&lt;input type="text" /&gt;
&lt;span&gt;&lt;/span&gt;
&lt;script&gt;
    $('input').val('foo');
    $('span').text('bar');
&lt;/script&gt;
    </code></pre>
</section>

<section>
    <h2>Manipulation of DOM (15)</h2>
    In DOM, to set the element's style you need to change the properties of the property of the element <code>style</code>:
    <pre><code>
document.querySelector('#div').style.borderColor = '#ffcc11';
    </code></pre>
    jQuery provides the method <code>css</code>. It allows to set multiple styles with a single call:
    <pre><code>
$('#elem').css({
    borderColor: '#ffcc11',
    color: 'red',
    '-webkit-transform': 'rotate(30deg)',
    '-moz-transform': 'rotate(30deg)',
    '-o-transform': 'rotate(30deg)',
    '-ms-transform': 'rotate(30deg)',
    transform: 'rotate(30deg)'
});
    </code></pre>
    The names of the fields of the object literal which is passed as argument could be the quoted names of the CSS properties or their JavaScript aliases
    (border-color или borderColor).
</section>

<section>
    <h2>Manipulation of DOM (16)</h2>
    jQuery provides multiple methods for direct manipulation of frequently used CSS properties:
    <ul>
        <li><code>$(selector).height()</code> - Return the height of the first element from the list of all selected elements.</li>
        <li><code>$(selector).height(height)</code> - Set the <code>height</code> of all selected elements.</li>
        <li><code>$(selector).innerHeight()</code> - Return the height of the first selected element.</li>
        <li><code>$(selector).outerHeight()</code> - Return the height of the first selected element.</li>
    </ul>
    * There are corresponding methods for <code>width</code>.
</section>

<section>
    <h2>Manipulation of DOM (17)</h2>
    <h3>height vs innerHeight vs outerHeight vs outerHeight(true)</h3>
    <ul>
        <li><code>height</code> - return the height of the element (without padding).</li>
        <li><code>innerHeight</code> - return the height of the element including its padding.</li>
        <li><code>outerHeight</code> - return the height of the element including its padding and border./li>
        <li><code>outerHeight(true)</code> - return the height of the element including its padding, border and margins.</li>
    </ul>
</section>

<section>
    <h2>Manipulation of DOM (18)</h2>
    <ul>
        <li><code>$(elem).offset()</code> - Return an object which gives the position of the element, based on the upper left corner of the window.</li>
        <li><code>$(elem).position()</code> - Return an object which gives the position of the element, relative to its parent.</li>
        <li><code>$(elem).scrollLeft()</code> - Return the position of the horizontal scrollbar of the first element in the list of the matched elements</li>
        <li><code>$(elem).scrollLeft(value)</code> - Set the position of the horizontal scrollbar of all elements in the list of matched elements.</li>
        <li><code>$(elem).scrollTop()</code> - Return the position of the vertical scrollbar of the first element in the list of the matched elements</li>
        <li><code>$(elem).scrollTop(value)</code> - Set the position of the vertical scrollbar of all elements in the list of matched elements.</li>
    </ul>
    * <code>offset</code> and <code>position</code> return an object literal with the properties: <code>{ top: y-value, left: x-value }</code>.
</section>

<section>
    <h2>Manipulation of DOM (19)</h2>
    In the old browsers the only way for adding and removing classes was by manipulating the string:
    <code>elem.className</code>. This string is space separated list of all classes added to the given element.
    It requires extra utility functions to be used for adding and removing classes.
    jQuery provides the methods <code>addClass</code>, <code>removeClass</code>, <code>hasClass</code>, can be used instead of these utilify functions:
    <pre><code>
function hasClass(elem, className) {
  return elem.className.indexOf(className) >= 0;
}
function addClass(elem, className) {
  if (hasClass(elem, className)) return elem;
  elem.className += ' ' + className;
  return elem; 
}
function removeClass(elem, className) {
  if (!hasClass(elem, className)) return elem;
  elem.className = elem.className.replace(RegExp('\\s?' + className), '');
  return elem;
}
    </code></pre>
</section>

<section>
    <h2>Manipulation of DOM (20)</h2>
    <p>
        In the modern browsers (IE10+, Firefox 3.6+, Chrome 8.0+, Safari 5.1+, Opera 11.5+) we have the field <code>classList</code>, an object which allows us to manipulate the classes of the element in the same way we would do that in jQuery.
    </p>
    <p>
        One more method jQuery provides us is <code>toggleClass</code>, which toggles given class for the target element.
    </p>
</section>

<section>
    <h2>Events (1)</h2>
    Client-side JavaScript is all about handling triggered events. All the developer is required to do is to attach event handlers to given element for 
    specific events, or remove these handlers. The browser runs an event loop, when events are triggered the browser puts them in a queue (FIFO) and
    call their event handlers in order based on their order in the queue.
    <pre><code>
document.getElementById('btn').addEventListener('mousedown', function () {
  alert('Hello world!');
}, false); //Use capture, not supported by jQuery
    </code></pre>
    * Note: addEventListener is supported in IE9+, Chrome 1.0+, Firefox 1.0+ (и 6.0 use capture), Opera 11.60, Safari 1.0+.
</section>

<section>
    <h2>Events (2)</h2>
    Standardized by W3C are 2 ways of handling the events - capturing and bubbling. IE supports capturing from version 9+, jQuery doesn&#39;t support capturing at all (even in version 2+), to be compatible with all browsers.
    Пример:
    <table>
        <tr>
            <td><iframe width="500" height="300" src="http://jsfiddle.net/mgechev/pcUQG/2/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe></td>
            <td><iframe width="500" height="300" src="http://jsfiddle.net/mgechev/pcUQG/1/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe></td>
        </tr>
    </table>
</section>

<section>
    <h2>Events (3)</h2>
    jQuery creates one more level of abstraction above the standard DOM events. This gives us compatibility between the different browsers APIs but also helps us by creating independence between the browser&#39;s implementation and the way of use. For example, the &lt;code&gt;on&lt;/code&gt; method allows us to attach event handlers to elements which are still not added to the DOM tree.
    <iframe width="500" height="300" src="http://jsfiddle.net/mgechev/ppK7n/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
</section>

<section>
    <h2>Events (4)</h2>
    <code>on</code> have the following API:
    <pre><code>
        $(selector).on('event-names', 'targets-selector' /* optional */, callback)
    </code></pre>
    Possible values for the <cde>event-name</code> are: <code> blur, focus, focusin, focusout, load, resize, scroll, unload, click, dblclick
, mousedown, mouseup, mousemove, mouseover, mouseout, mouseenter, mouseleave
, change, select, submit, keydown, keypress, keyup, error, contextmenu</code>.
</section>

<section>
    <h2>Events (5)</h2>
    When an element is already useless it is important to call the method <code>remove</code>, to remove all the attached data to it, because of memory leaks.
    If you want to remove only one event handler:<br />
    <code>$(selector).off('event-names', 'targets-selector' /* optional */, callback);</code><br>
    All handlers for given event: <br>
    <code>$(selector).off('event-names')</code><br>
    All events for given element: <br>
    <code>$(selector).off()</code>
</section>

<section>
    <h2>Events (6)</h2>
    One of the most often memory leak cause are the event handlers. The JavaScript GC cant clean memory which is used by the handlers.
    To remove specific event handler you should pass reference to the same function which was already passed to <code>on</code> to <code>off</code>.
    Пример:
    <pre><code>
//Only this callback cannot be detached
$(selector).on('click', function () {
    //do something
});
    </code></pre>
    <pre><code>
var callback = function () {
  //do something  
};
$(selector).on('click', callback);
$(selector).off('click', callback);
    </code></pre>
</section>

<section>
    <h2>Events (7)</h2>
    Often problem in the event handling is the loose of context (this):
    <pre><code>
$(selector).on('click', function () {
    console.log(this); //DOM element
});
    </code></pre>
    There are few workarounds - keep the context in a variable, change the context of the callback function.
    <pre><code>
var self = this;
$(selector).on('click', function () {
    console.log(self);
});

//Using ECMAScript 5's bind
$(selector).on('click', function () {
    console.log(this);
}.bind(this));

//Using jQuery.proxy
$(selector).on('click', jQuery.proxy(function () {
    console.log(this);
}, this));
    </code></pre>
</section>

<section>
    <h2>Events (8)</h2>
    jQuery provides other alias methods which internally call <code>on</code> or <code>off</code>. They are <code>bind</code>, <code>unbind</code>, <code>blur</code>, <code>click</code>, <code>mouseenter</code>... etc.
    They provide not so wide functionality as <code>on</code> and <code>off</code> but in some cases gives us more readable code.
</section>

<section>
    <h2>Events (9)</h2>
    <ul>
        <li><code>$(selector).one(event, data /* optional */, callback)</code> - Add event handler to a list of elements. This handler will he called no more than a single time.</li>
        <li><code>$(selector).trigger(eventName)</code> - Call all event handlers which are added to the selected elements for the given event</li>
        <li><code>$(selector).triggerHandler(eventName)</code> - Call all event handlers added to the first of the selected elements.</li>
    </ul>
</section>

<section>
    <h2>Events (10)</h2>
    <h3>trigger vs triggerHandler</h3>
    <ul>
        <li><code>trigger</code> have bubbling and cause the default behaviour of the given event (for example form submit).</li>
        <li><code>trigger</code> call all event handlers for all selected elements, <code>triggerHandler</code> calls the event handlers for only the first element in the collection, instead</li>
        <li><code>trigger</code> allow chaining, <code>triggerHandler</code> return the last value from the called event handlers.</li>
    </ul>
</section>

<section>
    <h2>Events (11)</h2>
    <h3>Bubbling and default behaviour</h3>
    <p>
        To prevent the default behaviour (for example form submit or text selection) you can use the method
        <code>preventDefault</code> of the event passed to the event handler.
    </p>
    <p>To prevent bubbling can be use:
        <code>stopImmediatePropagation</code>
    </p>
    <p>Пример:
        <table>
            <tr>
                <td><iframe width="400" height="300" src="http://jsfiddle.net/mgechev/czre2/2/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe></td>
                <td><iframe width="400" height="300" src="http://jsfiddle.net/mgechev/czre2/1/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe></td>
            </tr>
        </table>
    </p>
</section>

<section>
    <h2>Events (12)</h2>
    <h3>Events namespacing</h3>
    <p>
        Often, good practise is to use namespaces for your application events: <br />
        <code>$(selector).on('click.my-framework', function () { /* Body */});</code><br>
        This is useful especially when you develop some kind of framework and want to be able to not cause any changes in the events added by the user.
    </p>
</section>

<section>
    <h2>Ajax (1)</h2>
    <blockquote>
        Job interview for web developer:<br />
        - Do you know what Ajax is?<br />
        - CORS I do.<br />
        - Hired!
    </blockquote>
</section>

<section>
    <h2>Ajax (2)</h2>
    Ajax allows creating of HTTP requests to the server without reloading the page.
    Some important questions are:
    <ul>
        <li>Same origin policy</li>
        <li>Asynchronous requests</li>
        <li>CORS</li>
        <li>Cross-browser compatibility (if you like IE6)</li>
    </ul>
</section>

<section>
    <h2>Ajax (3)</h2>
    jQuery provides a façade for using the browser's Ajax API. For older versions of IE, jQuery's Ajax API creates also an adapter which allows us
    to work with the same API not matter which browser is used by the user.
    (&lt;= IE6 does not supports XMLHttpRequest).
    With the modern browsers jQuery helps us to not write duplicate code:
    <pre><code>
function createXMLHttp() {
  //If XMLHttpRequest is available then using it
  if (typeof XMLHttpRequest !== undefined) {
    return new XMLHttpRequest;
  //if window.ActiveXObject is available than the user is using IE...so we have to create the newest version XMLHttp object
  } else if (window.ActiveXObject) {
    var ieXMLHttpVersions = ['MSXML2.XMLHttp.5.0', 'MSXML2.XMLHttp.4.0', 'MSXML2.XMLHttp.3.0', 'MSXML2.XMLHttp', 'Microsoft.XMLHttp'],
        xmlHttp;
    //In this array we are starting from the first element (newest version) and trying to create it. If there is an
    //exception thrown we are handling it (and doing nothing ^^)
    for (var i = 0; i < ieXMLHttpVersions.length; i++) {
      try {
        xmlHttp = new ActiveXObject(ieXMLHttpVersions[i]);
        return xmlHttp;
      } catch (e) {
      }
    }
  }
}
    </code></pre>
</section>

<section>
    <h2>Ajax (4)</h2>
    ...and more...:
<pre><code>
function getData(url, success, error) {
  var xmlHttp = createXMLHttp(success, error);
  xmlHttp.open('get', url, true);
  xmlHttp.send(null);
  xmlHttp.onreadystatechange = function() {
    if (xmlHttp.readyState === 4) {
      if (xmlHttp.status === 200) {
        success.call(null, xmlHttp.responseText);
      } else {
        error.call(null, xmlHttp.responseText);
      }
    } else {
      //still processing
    }
  };
}
</code></pre>
</section>

<section>
    <h2>Ajax (5)</h2>
    We can use simply:
    <code>$.get(url).done(function () { /**/ }).fail(function () { /**/ });</code>
</section>

<section>
    <h2>Ajax (6)</h2>
    <ul>
        <li><code>$.ajax</code> - Makes ajax requests with parameters specified by an object literal, passed as parameter, and return jqXHR.</li>
        <li><code>$.get</code> - Makes get request and return jqXHR.</li>
        <li><code>$.post</code> - Makes post request and return jqXHR.</li>
        <li><code>$(elem).load(url, data, complete)</code> - Makes get request with parameters given by the object data and callback, which is called ones the request is successfully or unsuccessfully completed. If the request is successful the content of the element <code>elem</code> is changed.</li>
        <li><code>$.getJSON()</code> - Similar to <code>$.get</code>, but when the request is successfully completed there is an implicit call of <code>$.parseJSON</code>.</li>
        <li><code>$.getScript()</code> - Similar to <code>$.get</code>, but if the request is successfuly acomplished the received code is being evaluated (not using <code>eval</code>).</li>
    </ul>
</section>

<section>
    <h2>Ajax (7)</h2>
    <h3>Events</h3>
    These are some global events which callbacks are called when an Ajax event is triggered:
    <ul>
        <li><code>$(elem).ajaxComplete()</code> - Register a handler to be called when Ajax requests complete.</li>
        <li><code>$(elem).ajaxError()</code> - Register a handler to be called when Ajax requests complete with an error.</li>
        <li><code>$(elem).ajaxSend()</code> - Attach a function to be executed before an Ajax request is sent.</li>
        <li><code>$(elem).ajaxStart()</code> - Register a handler to be called when the first Ajax request begins.</li>
        <li><code>$(elem).ajaxStop()</code> - Register a handler to be called when all Ajax requests have completed.</li>
        <li><code>$(elem).ajaxSuccess()</code> - Attach a function to be executed whenever an Ajax request completes successfully.</li>
    </ul>
    * Useful for - logging, debugging, responsive app.
</section>

<section>
    <h2>Ajax (8)</h2>
    <h3>APIs low level API</h3>
    <ul>
        <li><code>$.ajaxPrefilter(callback(options, originalOptions, jqXHR))</code> - Handle custom Ajax options or modify existing options before each request is sent and before they are processed by $.ajax(). <code>options</code> are the options which are going to be used by the ajax request, <code>originalOptions</code> are the options which are passed by the user.</li>
        <li><code>$.ajaxSetup(options)</code> - Set default values for future Ajax requests.</li>
        <li><code>$.ajaxTransport(callback(options, originalOptions, jqXHR))</code> - Change the way <code>$.ajax</code> work. The given callback must return object with methods: <code>abort</code>, <code>send</code>. These methods are going to be used by <code>$ajax</code> for making and aborting ajax requests</li>
    </ul>
    * Better not use these methods, if possible.
</section>

<section>
    <h2>Ajax (9)</h2>
    <h3>Ajax Utils</h3>
    <ul>
        <li><code>$(form).serializeArray()</code> - Create an array of pairs - name, value. The names is the names of the form's inputs and the values are the controls' values.</li>
        <li><code>$(selector).serialize()</code> - Create URL-encoded string with the names and the values of the selected elements.</li>
        <li><code>$.param</code> - Create URL-encoded string by given array or object.</li>
    </ul>
</section>

<section>
    <h2>Ajax (10)</h2>
    <h3>Examples</h3>
    <pre><code>
$.ajax({
  url: 'http://example.com/api',
  type: 'post',
  data: { some: 'data' }
});
    </code></pre>
    <pre><code>
$.ajax({
  url: 'http://example.com/api',
  type: 'post',
  contentType: 'application/json',
  data: JSON.stringify({ some: 'data' })
});
    </code></pre>
    <pre><code>
$.post('http://example.com/api', { some: 'data' }).always(function () {
  console.log(arguments);
});
    </code></pre>
</section>

<section>
    <h2>Effects (1)</h2>
    jQuery provides some visual effects - fade, translation and animation of different CSS styles.
    All these effects are achieved by changing given property each 10ms with a fraction of the difference between the start and the end value and the total steps, and eventually depending on an easing.
    In case we animate too many elements this way, or any callback's execution is too slow we will have lag in our animation.
    The count of the frames for 1 second can be calculated by the formula <code>1000/(16 + N)</code>, where <code>N</code> is the count
    milliseconds required for the execution of our code for given frame.
    In the modern browsers this is not the most effective approach for achieving animation of DOM elements, thus different third party libraries
    use <code>requestAnimationFrame</code> and CSS3 transitions for patching jQuery.
</section>

<section>
    <h2>Effects (2)</h2>
    Few useful methods:
    <ul>
        <li><code>$(selector).animate()</code> - Animate CSS properties of the selected elements.</li>
        <li><code>$(selector).fadeIn(duration, callback)</code> - Animate the opacity of the elements, fade them in.</li>
        <li><code>$(selector).fadeOut(duration, callback)</code> - Animate opacity the opacity of the elements, fade them out.</li>
        <li><code>$(selector).fadeToggle(duratio, easing, callback)</code> - Toggle the elements visibility by animating their opacity.</li>
        <li><code>$(selector).slideUp(duration, callback)</code> - Animate the height of the given elements.</li>
        <li><code>$(selector).slideDown(duration, callback)</code> - Animate the height of the given elements.</li>
        <li><code>$(selector).show(duration, callback)</code> - Show the given elements. This method makes width/height and opacity animation.</li>
        <li><code>$(selector).hide(duration, callback)</code> - Hide the given elements. Make animation of the elements width/height and opacity. In the end of the animation the display of the elements is set to none.</li>
    </ul>
</section>

<section>
    <h2>Effects (3)</h2>
    Examples:
    <table>
        <tr>
            <td><iframe width="300" height="300" src="http://jsfiddle.net/mgechev/5gqpD/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe></td>
            <td><iframe width="300" height="300" src="http://jsfiddle.net/mgechev/5gqpD/4/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe></td>
        </tr>
    </table>
</section>

<section>
    <h2>Effects (4)</h2>
    jQuery provides us the <code>:animated</code>. With it we can get all the elements animated at a given moment:
    <code>
        $(':animated').stop(); //Stop the animations of all currently animated elements
    </code>
    <code>stop</code> stop the animation of given element.
</section>

<section>
    <h2>Effects (5)</h2>
    There is one more method which allow us to delay the animation: <code>delay(ms)</code><br>
    <code>
        $(elem).fadeOut(200).delay(200).fadeIn(200);
    </code>
</section>

<section>
    <h2>Deferred (1)</h2>
    <p>
        The two most used ways for handling asynchronouse events in JavaScript is using callbacks (a lot of side effects, callback hell) and futures, promises.
    </p>
    <p>
    jQuery (after version 1.5) implements both approaches. Futres and promises are first introduced in the 1970s. Later they are firstly used in languages such as MultiLisp, Act 1.
    </p>
    <p>
        Often the usage of promises leads to more readable code:
        <pre><code>
step1(function (value1) {
  step2(value1, function(value2) {
    step3(value2, function(value3) {
      step4(value3, function(value4) {
        step5(value4, function (value5)) {
          //...
        });
      });
    });
  });
});
        </code></pre>
    </p>
</section>

<section>
    <h2>Deferred (2)</h2>
    <h3>Sample implementation (1)</h3>
    <pre><code>
function Promise() {
  this._doOnFail = [];
  this._doOnSuccess = [];
  this._alwaysDo = [];
}
Promise.prototype.fail = function (f) {
  this._doOnFail.push(f);
  return this;
};
Promise.prototype.success = function (f) {
  this._doOnSuccess.push(f);
  return this;
};
Promise.prototype.always = function (f) {
  this._alwaysDo.push(f);
  return this;
};
    </code></pre>
</section>

<section>
    <h2>Deferred (3)</h2>
    <h3>Sample implementation (2)</h3>
    <pre><code>
function Deferred() {
  this.promise = new Promise();
}
Deferred.prototype.reject = function (reason) {
  this.promise._doOnFail.concat(this.promise._alwaysDo).forEach(function (f) {
    f.call(null, reason);
  });  
};
Deferred.prototype.resolve = function (reason) {
  this.promise._doOnSuccess.concat(this.promise._alwaysDo).forEach(function (f) {
    f.call(null, reason);
  });
};
    </code></pre>
</section>

<section>
    <h2>Deferred (4)</h2>
    <h3>Usage</h3>
    <pre><code>
function doAjaxRegistration() {
  var deferred = new Deferred();
  //do some ajax stuff
  //on ajax success deferred.resolve(result);
  //on ajax error deferred.reject(error);
  return deferred.promise;
}

disableForm();
doAjaxRegistration()
.always(function () {
  enableForm();
})
.success(function () {
  showSuccessfullRegister();
})
.fail(function () {
  showUnsuccessfullRegister();
});
    </code></pre>
</section>

<section>
    <h2>Deferred (5)</h2>
    jQuery provides wide API:
    <ul>
        <li><code>promise.then()</code> - Called after resolve, reject or when the deferred object is in progress. Allows chaining.</li>
        <li><code>deferred.promise()</code></li>
        <li><code>deferred.reject()</code></li>
        <li><code>deferred.resolve()</code></li>
        <li><code>promise.done()</code></li>
        <li><code>promise.fail()</code></li>
        <li><code>promise.always()</code></li>
    </ul>
</section>

<section>
    <h2>Deferred (7)</h2>
    <h3>Chaining with form validation</h3>
    <iframe width="500" height="300" src="http://jsfiddle.net/mgechev/fRNdK/1/embedded/result,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
</section>

<section>
    <h2>Thank you!</h2>
</section>